html,
body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin theme($theme-name, $bg, $fg, $fg2, $fg3) {
  .#{$theme-name} {
    height: 100%;
    .app {
      height: 100%;
      width: 100%;
      background-color: $bg;
      color: $fg;
      transition: all 0.2s ease;
      overflow: hidden;
      background: linear-gradient(
        -45deg,
        #ee9448,
        #f4327d,
        #35b9de,
        #ccdc66,
        #23e190,
        #80805b,
        #334d80
      );
      background-size: 800% 800%;
      animation: move 10s infinite;
    }

    @keyframes move {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .background-dimmer {
      width: 100vw;
      height: 100vh;

      background-color: transparentize($bg, 0.2);
      transition: background 0.5s ease;
    }

    .header-title {
      text-align: center;
      cursor: pointer;

      margin: auto;
      padding: 20px 0;
      width: fit-content;

      text-decoration: underline;
      text-decoration-color: transparent;

      transition: text-decoration-color 0.15s ease-in, background 0.2s ease,
        color 0.2s ease, text-shadow 0.2s ease;
      text-shadow: transparentize($fg, 0.2) 0 0 8px;
      &:hover {
        text-decoration-color: $fg;
      }
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      text-align: center;
      margin: 0;
      font-size: 4rem;
      background-color: transparentize($bg, 0.3);
      color: $fg;
      padding: 5px 15px;
      border-radius: 5px;
      white-space: nowrap;
      user-select: none;
      cursor: default;

      text-shadow: transparentize($fg, 0.5) 0 0 8px;
      transition: background 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
    }

    button {
      background-color: $bg;
      color: $fg;
      transition: all 0.2s ease;
    }

    .home-page {
      width: 100%;
      height: 100%;
    }

    .nav-stuff {
      display: grid;
      flex-direction: row;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 3px;
      width: 100%;
      height: 100%;
    }

    .nav-thing {
      font-size: 3rem;
      text-shadow: $fg 0 0 10px;
      text-align: center;
      line-height: 50vh;
      background-color: transparentize($bg, 0.4);
      transition: background-color 0.2s ease, color 0.2s ease,
        text-shadow 0.2s ease;
      &:hover {
        background-color: transparentize(darken($bg, 5%), 0.8);
      }
      user-select: none;
      cursor: default;
    }

    .theme-button {
      position: absolute;
      bottom: 5px;
      right: 5px;

      border: 1px solid $fg3;
      border-radius: 99px;
      padding: 2px 8px;
    }

    .idea-list-box {
      padding: 3px;
      width: 60%;
      border-radius: 10px;
      border: 1px solid $fg3;
      margin: auto;
      margin-top: 10px;
    }

    .idea-list {
      overflow: hidden;
      max-height: 75vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }

    .idea {
      border-bottom: 1px solid $fg3;
      &:nth-last-child(3) {
        border-bottom: none;
      }
      transition: background-color 0.2s ease, color 0.2s ease;
      &:hover {
        background-color: darken($fg2, 3%);
      }
      padding: 10px;
      display: block;
      background-color: $fg2;
      h2 {
        display: inline;
        margin: 0;
        font-size: 2.25rem;
      }
      .material-symbols-outlined {
        cursor: pointer;
      }
      .expand {
        float: right;
        font-size: 2.75rem;
      }
      textarea {
        width: 100%;
        resize: none;
        background-color: $fg2;
        color: $fg;
        border: none;

        height: auto;
        overflow: auto;
      }
    }

    .new-idea {
      border-bottom: 3px solid $fg3;
      background-color: lighten($fg2, 5%);
      user-select: none;
    }

    .login-page {
      margin: auto;
      width: 50%;
      height: 70%;
      background-color: $fg2;
    }

    .bored-page {
      padding-top: 25px;
      display: grid;
      height: 80vh;
      width: 90vw;
      margin: auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 4fr 1fr;

      iframe {
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
      }
    }

    .bored-site {
      position: relative;
      &:first-of-type {
        background-color: white;
        grid-column-start: 3 span;
      }

      div {
        line-height: 16vh;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
        user-select: none;
        font-size: 2.5rem;
        vertical-align: middle;
        background-color: #000000bf;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #0000009c;
        }
      }
    }

    .cat-video {
      width: 100vw;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: #888888;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555555;
    }
  }
}

@include theme(dark, #0a0d0f, #fbfaed, #131923, #69543d);
@include theme(light, #fbfcf9, #001508, #eef3ec, #8f6875);
