html,
body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin theme($theme-name, $bg, $fg, $fg2) {
  .#{$theme-name} {
    height: 100%;
    .app {
      height: 100%;
      width: 100%;
      background-color: $bg;
      color: $fg;
      transition: all 0.2s ease;
    }

    .title {
      text-align: center;
      margin: 0;
      padding: 10px;
    }

    button {
      background-color: $bg;
      color: $fg;
    }

    .theme-button {
      display: flex;
      margin: auto;
      border: 1px solid $fg;
      border-radius: 99px;
      padding: 2px 8px;
    }

    .item-list-box {
      padding: 3px;
      width: 60%;
      border-radius: 10px;
      border: 1px solid $fg;
      margin: auto;
      margin-top: 10px;
    }

    .item-list {
      overflow: hidden;
      max-height: 80vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }

    .item {
      border-bottom: 1px solid $fg;
      &:nth-last-child(3) {
        border-bottom: none;
      }
      transition: background-color 0.2s ease, color 0.2s ease;
      &:hover {
        background-color: darken($fg2, 3%);
      }
      padding: 10px;
      display: block;
      background-color: $fg2;
      h2 {
        display: inline;
        margin: 0;
        font-size: 2.25rem;
      }
      .material-symbols-outlined {
        cursor: pointer;
      }
    }

    .new-idea {
      border-bottom: 3px solid $fg;
      background-color: lighten($fg2, 5%);
      user-select: none;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: #888888;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555555;
    }
  }
}

@include theme(dark, #0a0d0f, #fbfaed, #131923);
@include theme(light, #fbfcf9, #001508, #eef3ec);
